@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

* {
  font-family: "Montserrat", sans-serif;
  color: #1e1f4b;
}

.text-super {
  font-size: clamp(2.25rem, 0.6875rem + 5vw, 3.5rem);
}

.text-title {
  font-size: clamp(1.75rem, 0.8125rem + 3vw, 2.5rem);
  line-height: 1.5;
}

.text-subtitle {
  font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
  line-height: 1.5;
}

.text-paraghraph,
button,
a {
  font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
  line-height: 1.5;
}

.text-tiny {
  font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
  line-height: 1.5;
}

.container {
  width: min(85%, 1250px);
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

#hero {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero-text {
  width: 50%;
}
#hero .hero-text h1 {
  color: #1e1f4b;
  line-height: 1.3;
}
#hero .hero-text h1 span {
  color: #706fe5;
}
#hero .hero-text p {
  color: #2e3e5c;
  margin: 3rem 0;
}
#hero .hero-text .hero-button {
  display: flex;
  gap: 20px;
  max-height: 50px;
  margin-bottom: 40px;
}
#hero .hero-text .hero-button button {
  padding-inline: 20px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #706fe5;
  cursor: pointer;
}
#hero .hero-text .hero-button .watch-button {
  padding-inline: 20px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  cursor: pointer;
}
#hero .hero-image {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
#hero .hero-image .i-figma {
  position: absolute;
  width: 80px;
  top: 80px;
  right: 120px;
}
#hero .hero-image .i-xd {
  position: absolute;
  width: 70px;
  top: 60px;
  left: 120px;
}
#hero .hero-image .i-sketch {
  position: absolute;
  width: 60px;
  left: 70px;
  top: 25px;
}
#hero .hero-image img {
  width: 85%;
}

@media (max-width: 810px) {
  #hero {
    display: flex;
    flex-direction: column-reverse;
    padding: 100px 10px 130px 10px;
    gap: 30px;
  }
  #hero .hero-text,
  #hero .hero-image {
    width: auto;
  }
  #hero .hero-text h1 {
    line-height: 1.2;
    font-size: 32px;
    text-align: center;
  }
  #hero .hero-text h1 span {
    margin: 0;
  }
  #hero .hero-text h1 span img {
    display: none;
  }
  #hero .hero-text p {
    margin: 2rem 0;
  }
  #hero .hero-text .hero-button {
    flex-direction: column;
  }
  #hero .hero-text .hero-button button {
    padding: 15px 0;
  }
  #hero .hero-text .hero-button .watch-button {
    width: 100%;
  }
  #hero .hero-image {
    display: block;
    position: relative;
  }
  #hero .hero-image .i-figma {
    position: absolute;
    width: 60px;
    top: 40px;
    right: 50px;
  }
  #hero .hero-image .i-xd {
    position: absolute;
    width: 50px;
    top: 50px;
    left: 60px;
  }
  #hero .hero-image .i-sketch {
    position: absolute;
    width: 35px;
    top: 25px;
    left: 30px;
  }
  #hero .hero-image img {
    width: 100%;
  }
}
.i-figma:hover,
.i-sketch:hover,
.i-xd:hover {
  animation: bounce 5s linear;
}

@keyframes bounce {
  20%, 50%, 80%, to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-30px);
  }
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: #ffffff;
}
nav .navbar {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
nav .navbar ul {
  display: flex;
  gap: 60px;
  justify-content: center;
}
nav .navbar ul a {
  color: #1e1f4b;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
nav .navbar ul a:hover {
  opacity: 80%;
}
nav .navbar .menu {
  display: none;
}

@media (max-width: 760px) {
  nav .navbar {
    padding: 1rem 0;
  }
  nav .navbar ul {
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    gap: 30px;
    width: 100vw;
    height: 100vh;
  }
  nav .navbar li {
    text-align: center;
  }
  nav .navbar .menu {
    display: block;
    cursor: pointer;
  }
  nav .navbar .show {
    transform: translateX(0);
  }
}
#partnership {
  margin-inline: auto;
  padding: 80px 10px;
  text-align: center;
  background-color: #f1f1f1;
}
#partnership h3 {
  margin-bottom: 3rem;
  color: #1e1f4b;
}
#partnership .partnership-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
}
#partnership .partnership-logo img {
  width: 10%;
}

@media (max-width: 760px) {
  #partnership .partnership-logo {
    flex-wrap: wrap;
  }
  #partnership .partnership-logo img {
    width: 30%;
    margin-bottom: 40px;
  }
}
#products {
  padding: 5rem 10px;
}
#products h2 {
  color: #1e1f4b;
  margin-bottom: 10px;
}
#products .product-title {
  margin-bottom: 50px;
}
#products .products {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#products .products .main-product,
#products .products .other-product {
  width: 100%;
}
#products .products .main-product img {
  margin-bottom: 20px;
}
#products .products .main-product h3 {
  margin: 0.5rem 0;
}
#products .products .other-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#products .products .other-product .card {
  padding: 10px;
  width: 47%;
  margin-bottom: 20px;
}
#products .products .other-product .card h3 {
  margin-top: 10px;
}
#products .products .other-product .card img {
  width: 100%;
}

@media (max-width: 810px) {
  .products {
    flex-direction: column;
    gap: 60px;
  }
  .products .main-product img {
    width: 100%;
  }
  .other-product .card h3 {
    font-size: 16px;
  }
}
#testimonials {
  padding-bottom: 3rem 0 5rem 0;
  text-align: center;
  position: relative;
}
#testimonials .property-1 {
  position: absolute;
  top: 40px;
  left: 0;
}
#testimonials .property-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
#testimonials .comment {
  position: relative;
  width: 60%;
  margin-inline: auto;
}
#testimonials .comment h1 {
  font-size: 100px;
  color: #706fe5;
  position: absolute;
}
#testimonials .comment .petik-left {
  left: 0;
  left: -60px;
}
#testimonials .comment .petik-right {
  right: -60px;
}
#testimonials .comment p {
  padding: 50px 0;
  line-height: 3;
}
#testimonials .people-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#testimonials .people-image .image-container-main img {
  border: 5px solid #706fe5;
  border-radius: 100%;
  padding: 3px;
}
#testimonials .people-name {
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 760px) {
  #testimonials .property-1,
  #testimonials .property-2 {
    display: none;
  }
  #testimonials .comment {
    width: 100%;
  }
  #testimonials .comment h1 {
    display: none;
  }
  #testimonials .comment p {
    line-height: 2;
  }
  #testimonials .people-image {
    overflow: hidden;
  }
}
#services {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .service,
#services .newsletter {
  width: 50%;
}
#services .newsletter p {
  margin: 20px 0;
  width: 70%;
}
#services .newsletter .email {
  margin-top: 2rem 4rem;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 1.3em;
  background: #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#services .newsletter .email i {
  color: #f1f1f1;
}
#services .newsletter .email input {
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
}
#services .newsletter .email input:focus {
  outline: none;
}
#services .newsletter .email input::-moz-placeholder {
  color: #1e1f4b;
}
#services .newsletter .email input::placeholder {
  color: #1e1f4b;
}
#services .newsletter .email button {
  padding: 10px;
  background-color: #706fe5;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(21, 76, 255, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#services .services {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
  width: 50%;
}
#services .services .service {
  width: 45%;
  margin: 30px 0;
}
#services .services .service img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#services .services .service h3 {
  margin: 10px 0;
}

@media (max-width: 810px) {
  #services {
    flex-direction: column;
  }
  #services .newsletter,
  #services .services {
    width: 100%;
  }
  #services .newsletter {
    text-align: center;
  }
  #services .newsletter .email {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin: 50px 0;
  }
  #services .newsletter .email input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #1e1f4b;
    border-radius: 10px;
  }
  #services .newsletter .email button {
    padding: 1rem;
    width: 100%;
  }
  #services .newsletter p {
    width: 100%;
    margin: 50px 0;
  }
  #services .newsletter h1 {
    font-size: 28px;
  }
  #services .services {
    padding: 10px;
  }
}
footer {
  padding: 5rem 0;
  background-color: #2e3e5c;
  color: #ffffff;
}
footer .socials-media {
  display: flex;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
footer .socials-media .socmed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .socials-media .socmed-icon .icon-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 100%;
  background-color: #706fe5;
  cursor: pointer;
}
footer hr {
  margin: 20px 0;
  border: 1px solid #f1f1f1;
}
footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .links ul {
  display: flex;
  padding: 50px 0;
  gap: 20px;
}
footer .links ul a {
  text-decoration: none;
  color: white;
}
footer .links button {
  background-color: #706fe5;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
footer .copyright {
  padding-top: 40px;
}
footer .copyright p {
  color: white;
  text-align: center;
}

@media (max-width: 760px) {
  .socials-media {
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 50px;
  }
  .socials-media .logo-company {
    display: flex;
    justify-content: center;
  }
  .socials-media .logo-company img {
    margin-inline: auto;
  }
  .links {
    flex-direction: column;
  }
  .links ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .links button {
    width: 100%;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=styles.css.map */