@use '../base/colors';

#services {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .service,
  .newsletter {
    width: 50%;
  }
  .newsletter {
    p {
      margin: 20px 0;
      width: 70%;
    }
    .email {
      i {
        color: colors.$softGrey;
      }
      margin-top: 2rem 4rem;
      border-radius: 20px;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding: 1.3em;
      background: colors.$softGrey;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      input {
        padding: 10px;
        border: none;
        background-color: colors.$softGrey;
      }
      input:focus {
        outline: none;
      }
      input::placeholder {
        color: colors.$mainColorTwo;
      }
      button {
        padding: 10px;
        background-color: colors.$mainColor;
        color: colors.$white;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
          rgba(21, 76, 255, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
          rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
          rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }
    }
  }
  .services {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    width: 50%;
    .service {
      width: 45%;
      margin: 30px 0;
      img {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
      }
      h3 {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 760px) {
  #services {
    flex-direction: column;
    .newsletter,
    .services {
      width: 100%;
    }
    .newsletter {
      text-align: center;
      .email {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        margin: 50px 0;
        input {
          width: 100%;
          padding: 1rem;
          border: 2px solid colors.$mainColorTwo;
          border-radius: 10px;
        }
        button {
          padding: 1rem;
          width: 100%;
        }
      }
      p {
        width: 100%;
        margin: 50px 0;
      }
      h1 {
        font-size: 28px;
      }
    }
    .services {
      padding: 10px;
    }
  }
}
