@use '../base/colors';

#testimonials {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  .property-1 {
    position: absolute;
    top: 40px;
    left: 0;
  }
  .property-2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .comment {
    position: relative;
    width: 60%;
    margin-inline: auto;
    h1 {
      font-size: 100px;
      color: colors.$mainColor;
      position: absolute;
    }
    .petik-left {
      left: 0;
      left: -60px;
    }
    .petik-right {
      right: -60px;
    }
    p {
      padding: 50px 0;
      line-height: 3;
    }
  }
  .people-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .image-container-main {
      img {
        border: 5px solid colors.$mainColor;
        border-radius: 100%;
        padding: 3px;
      }
    }
  }
}
@media (max-width: 760px) {
  #testimonials {
    .property-1,
    .property-2 {
      display: none;
    }
    .comment {
      width: 100%;
      h1 {
        display: none;
      }
      p {
        line-height: 2;
      }
    }
    .people-image {
      overflow: hidden;
    }
  }
}
